In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
original_data = pd.read_csv("MushroomDataset/secondary_data.csv", sep=";")

In [120]:
original_data.head()

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,p,15.26,x,g,o,f,e,NaN,w,16.95,...,s,y,w,u,w,t,g,NaN,d,w
1,p,16.60,x,g,o,f,e,NaN,w,17.99,...,s,y,w,u,w,t,g,NaN,d,u
2,p,14.07,x,g,o,f,e,NaN,w,17.80,...,s,y,w,u,w,t,g,NaN,d,w
3,p,14.17,f,h,e,f,e,NaN,w,15.77,...,s,y,w,u,w,t,p,NaN,d,w
4,p,14.64,x,h,o,f,e,NaN,w,16.53,...,s,y,w,u,w,t,p,NaN,d,w

In [121]:
original_data.isna().sum()

class                       0
cap-diameter                0
cap-shape                   0
cap-surface             14120
cap-color                   0
does-bruise-or-bleed        0
gill-attachment          9884
gill-spacing            25063
gill-color                  0
stem-height                 0
stem-width                  0
stem-root               51538
stem-surface            38124
stem-color                  0
veil-type               57892
veil-color              53656
has-ring                    0
ring-type                2471
spore-print-color       54715
habitat                     0
season                      0
dtype: int64

In [122]:
original_data["class"].unique()

array(['p', 'e'], dtype=object)

In [123]:
data_occurences = original_data.groupby("class").size().reset_index().sort_values(by=0, ascending=False)
data_occurences = data_occurences.set_axis(["class", "value"], axis=1)
data_occurences["%total"] = [x*100/original_data["class"].shape[0] for x in data_occurences["value"]]
data_occurences

  class  value     %total
1     p  33888  55.491329
0     e  27181  44.508671

In [ ]:
# plt.figure(figsize=(10, 8))
# correlation_matrix_before_split = original_data.corr()
# sns.heatmap(correlation_matrix_before_split, annot=True, cmap='coolwarm')
# plt.title('Correlation Matrix Before Splitting')
# plt.show()